services:
    auth_service:
        build:
            context: ./services/auth_service
            dockerfile: Dockerfile
        restart: unless-stopped
        ports:
            - "8000:8000"
        environment:
            DEBUG_MODE: ${DEBUG_MODE}
            AUTH_SERVICE_WORKERS: ${AUTH_SERVICE_WORKERS}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            RSA_PUBLIC_KEY: ${RSA_PUBLIC_KEY}
            RSA_PRIVATE_KEY: ${RSA_PRIVATE_KEY}
            REDIS_PASSWORD: ${REDIS_PASSWORD}

        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 40s
            start_interval: 20s

        depends_on:
            redis:
                condition: service_healthy
            postgres:
                condition: service_healthy


    file_upload_service:
        build:
            context: ./services/file_upload_service
            dockerfile: Dockerfile
        restart: unless-stopped

        ports:
            - "8080:8080"
        environment:
            DEBUG_MODE: ${DEBUG_MODE}
            S3_BUCKET: files
            S3_REGION: us-east-1
            MINIO_SERVER_URL: ${MINIO_SERVER_URL}
            MINIO_ROOT_USER: ${MINIO_ROOT_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
            MINIO_STALE_UPLOADS_EXPIRY: ${MINIO_STALE_UPLOADS_EXPIRY}
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}

        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 40s
            start_interval: 10s

        depends_on:
            minio:
                condition: service_healthy
            auth_service:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy


    channel_actions_service:
        build:
            context: ./services/channel_actions_service
            dockerfile: Dockerfile
        restart: unless-stopped
        ports:
            - "7000:7000"
        environment:
            DEBUG_MODE: ${DEBUG_MODE}
            CHANNEL_ACTIONS_SERVICE_WORKERS: ${CHANNEL_ACTIONS_SERVICE_WORKERS}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}

        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:7000/health" ]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 40s
            start_interval: 20s

        depends_on:
            postgres:
                condition: service_healthy
            auth_service:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
        
    video_postprocess_service:
        build:
            context: ./services/video_postprocess_service
            dockerfile: Dockerfile
        restart: unless-stopped
        ports:
        - "8090:8090"
        environment:
            DEBUG_MODE: ${DEBUG_MODE}
            S3_BUCKET: files
            S3_REGION: us-east-1
            MINIO_SERVER_URL: http://${MINIO_SERVER_URL}
            MINIO_ROOT_USER: ${MINIO_ROOT_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
            MINIO_STALE_UPLOADS_EXPIRY: ${MINIO_STALE_UPLOADS_EXPIRY}
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
            VIDEO_POSTPROCESS_WORKERS: ${VIDEO_POSTPROCESS_WORKERS}


        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:8090/health" ]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 40s
            start_interval: 10s

        depends_on:
            minio:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy

    minio:
        image: minio/minio
        restart: unless-stopped
        ports:
            - "9000:9000" # API
            - "9001:9001" # UI

        environment:
            MINIO_ROOT_USER: ${MINIO_ROOT_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
            MINIO_STALE_UPLOADS_EXPIRY: ${MINIO_STALE_UPLOADS_EXPIRY}

        volumes:
            - ./minio_data:/data

        command: [ "server", "--console-address", ":9001", "/data" ]

        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
            interval: 30s
            timeout: 20s
            retries: 3
            start_period: 40s
            start_interval: 20s


    postgres:
        image: postgres:latest
        restart: unless-stopped
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}

        volumes:
            - /var/lib/postgresql

        healthcheck:
            test: [ "CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'" ]
            interval: 10s
            timeout: 3s
            retries: 3
            start_period: 40s
            start_interval: 10s


    redis:
        image: redis:latest
        restart: unless-stopped
        ports:
            - "6379:6379"
        volumes:
            - ./redis_data:/data

        command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}", "--appendonly", "yes" ]
        healthcheck:
            test: [ "CMD", "redis-cli", "-u", "redis://:${REDIS_PASSWORD}@localhost:6379", "ping" ]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 40s
            start_interval: 20s


    rabbitmq:
        image: rabbitmq:management
        restart: unless-stopped
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}

        volumes:
            -   ./rabbitmq_data:/var/lib/rabbitmq

        healthcheck:
            test: rabbitmq-diagnostics -q ping
            interval: 30s
            timeout: 30s
            retries: 3


    nginx:
        image: nginx:latest
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"

        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - ./static:/var/www/static/

        depends_on:
            auth_service:
                condition: service_healthy
            file_upload_service:
                condition: service_healthy
            channel_actions_service:
                condition: service_healthy

        healthcheck:
            test: [ "CMD", "service", "nginx", "status" ]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 40s
            start_interval: 10s